body
{
	margin: 0;
	padding: 0;

}
.container
{
	width: 100%;
	height: 100vh;
	overflow: hidden;

}
.mixBlnd
{
	background-blend-mode: screen;
}
html {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
